body {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1366px) {
  .botoes {
    text-align: center;
    justify-content: center;
    display: grid;
    gap: 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

@media screen and(max-width: 768px) {
}

button {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  flex-direction: row;
}

.botoes {
  display: flex;
}

.logo_pizza {
  border-radius: 8px;
}

header {
  background-color: black;
}

.menu {
  background: transparent;
  border: none;
  color: white;
  font-size: 28px;
  transition: 0.3s;
  cursor: pointer;
}

.menu:hover {
  color: red;
}

#btn_pedido {
  background-color: red;
  height: 33px;
  border-radius: 5px;
}

#fazer_pedido:hover {
  color: white;
}

a:hover {
  color: red;
}
